<a [routerLink]="['/']">
  <h1>Dream Factory Inc.</h1>
</a>
<div id = "buttonbar">
  <a href = "#About"><button id = "About">ABOUT</button></a>
  <a href = "#Help"><button id = "GetInvolved">WANT TO HELP?</button></a>
  <a href = "#Events"><button id = "Events">EVENTS</button></a>
  <a href = "#Contact"><button id = "Contact">CONTACT US</button></a>
  <a href = "#Donate"><button id = "Donate">DONATE</button></a>
</div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->