button {
  background-color: rgb(126, 136, 151);
  border-style: none;
  font-family:Helvetica;
  color: rgb(246, 249, 252);
  border: 20px;
  border-radius: 0px;
}



h1 {
  font-family:cursive;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/